<h2>Hi {{ full_name }},</h2>
<p>You have successfully registered for <b>{{ event_name }}</b>.</p>

<p><b>Event Date:</b> {{ event_date }} <br>
<b>Location:</b> {{ event_location }}</p>

<h3>Registration Details:</h3>
<ul>
  <li><b>Basic Info:</b> {{ basic_information }}</li>
  <li><b>Career Objectives:</b> {{ career_objectives }}</li>
  <li><b>Education:</b> {{ education_details }}</li>
  <li><b>Work Experience:</b> {{ work_experience }}</li>
  <li><b>Skills:</b> {{ skills_competencies }}</li>
  <li><b>Achievements:</b> {{ achievements_extracurricular }}</li>
  <li><b>Other:</b> {{ other_details }}</li>
</ul>

<p>Thank you for registering!</p>
